.footer{
    position: relative;
    background-image: url(./../../public/images/footer_background.jpg);
    background-position: center;
    height: auto;
    color: white;
    padding: 4% 0;
    
    .footer-deco {
        background-image: url(./../../public/images/footer_bottom_decoration_img.png);
        position: absolute;
        top: 0;
        width: 100%;
        height: 15px;
        z-index: 7;

   
       }
       
    }
.i-cons {
    
    .fa-facebook-f, .fa-google-plus-g, .fa-pinterest-p, .fa-linkedin-in{
       margin: 3%;
    }
}
.p-chicken {
    top: 5%;
}
.chicken {
     right: 3%;
    .m-chicken {
        
        margin-bottom: 20%;
        
    }
}
.m-ftr {
    margin: 0 5%;
}
.h-4 {
    padding-bottom: 5%;

    }

.tag {
    .btn {
        background-color: $color1;
        margin: 1%;
        padding: 1% 3%;
    }
}
.ftr {
    background-color: $color1;
    padding: 2% 0;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}   
   
