//Section-1
.section-1 {
    position: relative;
    background-color: #fff;
    border: 2px solid rgba(15, 14, 14, 0);
    margin-top: 3%;
    padding-bottom: 5%;

    .our-story {
        text-align: center;
        margin : 3% 30%;
        padding-bottom: 3%;
        h5 {
        
            font-family: 'Courgette', cursive;
            font-size: 1.8rem;
            .rouge {
                color: $color1;
                font-size: 2.4rem;
    
            }
        }
    }
}
.title {
    margin-top: 2%;
}
.top-left {
    position: absolute;
    top: 0;
    left: 0;
}
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
//Menu list
.nav-pills {
    text-align: center;
    #v-pills-home-tab{
         border-bottom: 2px solid lightgrey;
        // border-right: 4px solid $color1;
    }
    #v-pills-profile-tab, #v-pills-messages-tab, #v-pills-settings-tab{
        border-bottom: 2px solid lightgrey;
        // border-right: 2px solid lightgrey;
    }
    // #v-pills-settings1-tab {
    //     border-right: 2px solid lightgrey;
    // }
    .icons {
        color: lightgrey;
    }
    .icons:hover {
        color: $color1;
        
    }
    p{  
        font-family: 'Courgette', cursive;
        font-size: 1.4rem;

    }
    
}
.galere {
    padding-bottom: 5%;
}
.menu {
    
    
    img {
        width: 65%;
        border: 2px solid lightgray;
        border-radius: 100%;
    }
    
}
.deco {
    
    padding-top: 5%;
    text-align: center;
}
.hey {
    padding-bottom: 1%;
    
}
.gras {
    font-weight: bold;
    
}
.prix {
    margin-left: 6%;
   
    
    
}
.petite {
    font-size: 0.9rem;
}
.bdr {
    border-bottom: 1px dashed lightgray ;
    padding-bottom: 3%;
}
.bglight {
    background-color: lightgray;
   
}
