//Section-3
.section-3 {
    position: relative;
    background-color: #fff;
    border: 2px solid rgba(15, 14, 14, 0);
    margin-top: 3%;
    .book-your-table, .titre-chef1 {
        text-align: center;
        margin : 3% 30%;
        h5 {
    
            font-family: 'Courgette', cursive;
            font-size: 1.6rem;
            .rouge {
                color: $color1;
                font-size: 2.3rem;

            }

        }
        .btn {
            text-transform: uppercase;
        }
       
    }
}
.top-left {
    position: absolute;
    top: 0;
    left: 0;
}
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
//Jumbotron
.jumbotron {
    text-align: center;
    margin: 0 20%;
    border-radius: 15px;
    background-image: url(./../../public/images/book_table_bg.jpg);
    p {
        font-size: 0.9rem;
        color: white;
        .num {
            font-size: 1.3rem;
        }
    }

}
.register-form {
    margin-top: 8%;
    .form {
        margin: 3% 8% 3% 8%;
        input {
            border-radius: 10px;
    
        }
    }
}
.form-group {
    select {
    border-radius: 10px;
    }
}
.jumbotron {
    a {
        margin-top: 6%;
        padding: 1.5% 5% ;
    }
}
.salade { 
    margin-top: 3%;
    .card {
        margin-right: 2%;
        
        .btn2 {
            position: relative;
            text-align: center;
            width: 75%;
            border-radius: 5px;
            padding: 3% 0;
            margin-left: 13%;
            bottom: 30px;
            
          
            }
    
    
    
        img {
            
            border: 4px solid lightgrey;
            border-radius: 15px;
            width: 100%;
            height: 230px;
            
        
        
            }
        }

    }

.btn1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 10%;
    .btn {
        padding: 1% 2%;
    }
}
.card-body {
    p {
        font-size: 0.8rem;
    }
}