//Section-4
.section-4 {
    position: relative;
    background-image: url(./../../public/images/testimonials_background.jpg);
    background-size: 850%;
    background-position: 90%;

    margin: 5% 0;
    padding: 4% 0%;

    .client {
        text-align: center;
        // margin : 5% 30%;
        margin-top: 2%;
        h5 {

            font-family: 'Courgette', cursive;
            font-size: 1.8rem;
            color: white;
            .rouge {
                color: $color1;
                font-size: 2.4rem;

            }
        }
    }
}
.testimony {
    margin: 5% 0 3% 11%;

    color: white;

    .manager {
        border: 1px solid lightgrey;
        border-radius: 10px;
        margin: 0 1%;
        padding-top: 2%;
        p {
            font-size: 0.8rem;
            padding-top: 2%;
        }

    }


    img {
        border-radius: 100%;
        border : 4px solid lightgrey;
        width: 80%;
    }
}
// .space {
//      margin-right: 3%;
//  }