@import url(/Users/adjini/Desktop/site-du-chef/node_modules/bootstrap/dist/css/bootstrap.css);
body {
  background-image: url(./../../public/images/main_bg.jpg);
}

.carousel img {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

.carousel-indicators li {
  width: 0.7em;
  height: 0.7em;
  border-radius: 100%;
  color: grey;
}

.carousel-indicators .active {
  width: 0.5em;
  height: 0.5em;
  margin: 0.3em;
  border: double 0.5em white;
}

.carousel-caption p {
  font-family: 'Courgette', cursive;
  font-size: 2rem;
}

.carousel-caption p .span-1 {
  font-size: 4rem;
}

.carousel-caption p .rouge {
  font-size: 4rem;
  color: #c42d40;
}

.carousel-caption p .span-2 {
  font-size: 3rem;
}

.carousel .carousel-inner .carousel-item .carousel-caption .btn {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  border-radius: 50px;
  margin-top: 3%;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 2% 4%;
}

nav {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

nav .i-mage {
  margin: 2% 3% 0 3%;
}

nav img {
  height: 85px;
  width: 65px;
}

nav .menu {
  border-top: 2px solid rgba(255, 255, 255, 0.521);
  border-bottom: 2px solid rgba(255, 255, 255, 0.397);
  margin-top: 4%;
}

nav a {
  color: white;
  text-transform: uppercase;
}

nav a:hover {
  background-color: #c42d40;
  color: white;
}

nav .bg {
  background-color: #c42d40;
}

header {
  position: relative;
}

header .bottom-deco {
  background-image: url(./../../public/images/bottom_decoration_img.png);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  z-index: 5;
}

.section-1 {
  position: relative;
  background-color: #fff;
  border: 2px solid rgba(15, 14, 14, 0);
  margin-top: 3%;
  padding-bottom: 5%;
}

.section-1 .our-story {
  text-align: center;
  margin: 3% 30%;
  padding-bottom: 3%;
}

.section-1 .our-story h5 {
  font-family: 'Courgette', cursive;
  font-size: 1.8rem;
}

.section-1 .our-story h5 .rouge {
  color: #c42d40;
  font-size: 2.4rem;
}

.title {
  margin-top: 2%;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav-pills {
  text-align: center;
}

.nav-pills #v-pills-home-tab {
  border-bottom: 2px solid lightgrey;
}

.nav-pills #v-pills-profile-tab, .nav-pills #v-pills-messages-tab, .nav-pills #v-pills-settings-tab {
  border-bottom: 2px solid lightgrey;
}

.nav-pills .icons {
  color: lightgrey;
}

.nav-pills .icons:hover {
  color: #c42d40;
}

.nav-pills p {
  font-family: 'Courgette', cursive;
  font-size: 1.4rem;
}

.galere {
  padding-bottom: 5%;
}

.menu img {
  width: 65%;
  border: 2px solid lightgray;
  border-radius: 100%;
}

.deco {
  padding-top: 5%;
  text-align: center;
}

.hey {
  padding-bottom: 1%;
}

.gras {
  font-weight: bold;
}

.prix {
  margin-left: 6%;
}

.petite {
  font-size: 0.9rem;
}

.bdr {
  border-bottom: 1px dashed lightgray;
  padding-bottom: 3%;
}

.bglight {
  background-color: lightgray;
}

.section-2 {
  background-image: url(./../../public/images/team_background.jpg);
  position: relative;
  background-size: 480%;
  background-position: 43%;
  text-align: center;
  color: white;
  margin-top: 3%;
  padding: 0 3%;
}

.section-2 h5 {
  font-family: 'Courgette', cursive;
  font-size: 1.8rem;
}

.section-2 h5 .rouge {
  color: #c42d40;
  font-size: 2.4rem;
}

.titre-chef {
  padding: 6% 0;
}

.chefs {
  margin: 0 4%;
  padding-bottom: 2%;
  z-index: 9;
}

.section-3 {
  position: relative;
  background-color: #fff;
  border: 2px solid rgba(15, 14, 14, 0);
  margin-top: 3%;
}

.section-3 .book-your-table, .section-3 .titre-chef1 {
  text-align: center;
  margin: 3% 30%;
}

.section-3 .book-your-table h5, .section-3 .titre-chef1 h5 {
  font-family: 'Courgette', cursive;
  font-size: 1.8rem;
}

.section-3 .book-your-table h5 .rouge, .section-3 .titre-chef1 h5 .rouge {
  color: #c42d40;
  font-size: 2.4rem;
}

.section-3 .book-your-table .btn, .section-3 .titre-chef1 .btn {
  text-transform: uppercase;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.jumbotron {
  text-align: center;
  margin: 0 20%;
  border-radius: 15px;
  background-image: url(./../../public/images/book_table_bg.jpg);
}

.jumbotron p {
  font-size: 0.9rem;
  color: white;
}

.jumbotron p .num {
  font-size: 1.3rem;
}

.register-form {
  margin-top: 8%;
}

.register-form .form {
  margin: 3% 8% 3% 8%;
}

.register-form .form input {
  border-radius: 10px;
}

.form-group select {
  border-radius: 10px;
}

.jumbotron a {
  margin-top: 6%;
  padding: 1.5% 5%;
}

.salade {
  margin: 5% 5% 3% 10%;
}

.salade .card .btn2 {
  background-color: #c42d40;
  position: relative;
  text-align: center;
  width: 70%;
  border-radius: 10px;
  padding: 3% 0;
  margin-left: 5%;
  bottom: 30px;
  font-size: 0.9rem;
}

.salade .card img {
  border: 4px solid lightgrey;
  border-radius: 15px;
  width: 80%;
  height: 230px;
}

.btn1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.5rem;
  margin-bottom: 7%;
}

.btn1 .btn {
  padding: 1% 2%;
}

.card-body p {
  font-size: 0.8rem;
}

.bold {
  font-weight: bold;
  font-size: 1.2rem;
}

.section-4 {
  position: relative;
  background-image: url(./../../public/images/testimonials_background.jpg);
  background-size: 850%;
  background-position: 90%;
  margin: 5% 0;
  padding: 4% 0%;
}

.section-4 .client {
  text-align: center;
  margin-top: 2%;
}

.section-4 .client h5 {
  font-family: 'Courgette', cursive;
  font-size: 1.8rem;
  color: white;
}

.section-4 .client h5 .rouge {
  color: #c42d40;
  font-size: 2.4rem;
}

.testimony {
  margin: 5% 0 3% 11%;
  color: white;
}

.testimony .manager {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 0 1%;
  padding-top: 2%;
}

.testimony .manager p {
  font-size: 0.8rem;
  padding-top: 2%;
}

.testimony img {
  border-radius: 100%;
  border: 4px solid lightgrey;
  width: 80%;
}

.section-5 {
  margin-bottom: 3%;
}

.section-5 .contact {
  text-align: center;
  margin-top: 5%;
}

.section-5 .contact h5 {
  font-family: 'Courgette', cursive;
  font-size: 1.8rem;
  color: black;
}

.section-5 .contact h5 .rouge {
  color: #c42d40;
  font-size: 2.4rem;
}

.contact1 {
  text-align: center;
  width: 30%;
  height: 35%;
  background-color: #c42d40;
  border-radius: 10px;
}

.contact1 .list-group {
  margin: 18% 0 10% 0;
}

.contact1 .list-group .list-group-item {
  background-color: #c42d40;
  color: white;
}

.contact1 .list-group .list-group-item p {
  font-size: 0.8rem;
}

.footer {
  position: relative;
  background-image: url(./../../public/images/footer_background.jpg);
  background-position: center;
  height: auto;
  color: white;
  padding: 4% 0;
}

.footer .footer-deco {
  background-image: url(./../../public/images/footer_bottom_decoration_img.png);
  position: absolute;
  top: 0;
  width: 100%;
  height: 15px;
  z-index: 7;
}

.i-cons .fa-facebook-f, .i-cons .fa-google-plus-g, .i-cons .fa-pinterest-p, .i-cons .fa-linkedin-in {
  margin: 3%;
}

.p-chicken {
  top: 5%;
}

.chicken {
  right: 3%;
}

.chicken .m-chicken {
  margin-bottom: 20%;
}

.m-ftr {
  margin: 0 5%;
}

.h-4 {
  padding-bottom: 5%;
}

.tag .btn {
  background-color: #c42d40;
  margin: 1%;
  padding: 1% 3%;
}

.ftr {
  background-color: #c42d40;
  padding: 2% 0;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}
/*# sourceMappingURL=main.css.map */